body {
  width: 42.8rem;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }