.section {
  max-width: 42.8rem;
  height: 100vh;
  margin: 0 auto;
  padding-top: 3rem;
  border: 1px solid #000;
  border-radius: 5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }